doctype html
html(lang='en')
  head
    title beefy.finance
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Multi-Chain Yield Farming')

    link(rel='stylesheet' href='css/minireset.min.css')
    link(rel='stylesheet' href='css/index.css')
    link(rel='stylesheet' href='https://use.typekit.net/avo8ruz.css' media='nope!' onload='this.media="all"')

    meta(property='og:local' content='en_US')
    meta(property='og:title' content='beefy.finance')
    meta(property='og:description' content='Multi-Chain Yield Farming')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://beefy.finance')
    meta(property='og:image' content='https://beefy.finance/img/beefy.png')

    meta(link rel="apple-touch-icon" href="https://beefy.finance/img/beefy.png")
    meta(name="theme-color" content="#F9F3EB")

  body
    .plains.unselectable
      .plain-left
      .plain-center-bg
      .plain-right
      .plain-center-fg
      .cows

    .container
      .nav.unselectable
        .nav-left
          img.nav-logo(src='/img/beefy.svg')
          a.nav-item(href='#moo!') Beefy.Finance
        .nav-right
          a.nav-item(href='https://twitter.com/beefyfinance' target='_blank')
            img.nav-img(src='/img/twitter.svg')

          a.nav-item(href='https://medium.com/beefyfinance' target='_blank')
            img.nav-img(src='/img/medium.svg')
              
          a.nav-item(href='https://discord.gg/yq8wfHd' target='_blank')
            img.nav-img(src='/img/discord.svg')
            
          a.nav-item(href='https://t.me/beefyfinance' target='_blank')
            img.nav-img(src='/img/telegram.svg')
            
          a.nav-item(href='https://github.com/beefyfinance' target='_blank')
            img.nav-img(src='/img/github.svg')
            
          a.nav-item(href='https://docs.beefy.finance' target='_blank')
            img.nav-img(src='/img/gitbook.svg')

          a.nav-item.nav-btn(href='https://app.beefy.finance' target="_blank") Launch App

      section
        .hero.unselectable
          .hero-brand
            a.hero-brand-logo(href='https://app.beefy.finance' target="_blank")
              img(src='/img/beefy.svg')
            img.hero-brand-name(src='/img/name.png')
            span.hero-brand-brief Multi-Chain Yield Farming

          .hero-cta
            a.cta(href='https://app.beefy.finance' target='_blank')
              img.cta-img(src='/img/BSC.png')
              
            a.cta(href='https://avax.beefy.finance' target='_blank')
              img.cta-img(src='/img/Avalanche.png')
              
            a.cta(href='https://heco.beefy.finance' target='_blank')
              img.cta-img(src='/img/HECO.png')
            
            a.cta(href='https://polygon.beefy.finance' target='_blank')
              img.cta-img(src='/img/Polygon.png')

            a.cta(href='https://fantom.beefy.finance' target='_blank')
              img.cta-img(src='/img/Fantom.png')
              
    script.
      const cows = document.querySelector('.cows');
      let n = Math.ceil(Math.random() * 3 ) + 3;

      const arr = [];
      for(let i = 0; i < n; i++) {
        const r = 100 / n;
        const x = (i + Math.random() * 0.5) * r;
        const y = Math.ceil(Math.random() * 30) / 10;
        const w = Math.round(Math.random() * 3.5) + 2.5;
        const d = Math.random() < 0.5 ? -1 : 1;
        arr.push(`<img class='cow' src='/img/beefy.svg' style='left: ${x}vw; bottom: ${y}rem; width: ${w}rem; transform: scaleX(${d}); z-index: ${Math.ceil(y)}' />`);
      }
      cows.innerHTML = arr.join('');
